html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='task2.css')
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans:400,600")
  body
    #container
      .tabs
        .tab
          input#tab-1(type='radio', name='tab-group-1', checked='')
          label(for='tab-1') Option 1
          .content
            h3 Heading 1
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas ipsam iure cupiditate, officia et, unde, a molestias dicta ab itaque quos nesciunt at quidem explicabo dolores culpa ex, laborum qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quod sed quas, adipisci inventore aperiam ullam animi nisi itaque magni temporibus accusantium, minus, nihil hic cupiditate illo consequatur. Aliquid, mollitia.

        .tab
          input#tab-2(type='radio', name='tab-group-1')
          label(for='tab-2') Option 2
          .content
            h3 Heading 2
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis repellat recusandae, quisquam fugiat, est consequuntur tempore velit obcaecati numquam voluptate voluptatem dolore quo! Sint optio placeat, repudiandae quasi laboriosam expedita?
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet eius animi accusantium cum, ipsam saepe! Dignissimos atque vel perferendis, sequi laudantium ducimus necessitatibus! Rem voluptates iusto vero veniam praesentium architecto! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla provident maxime possimus soluta officiis ipsa necessitatibus vero, odio minima suscipit accusantium autem doloremque, ipsum? Eaque laboriosam ullam provident, optio nihil. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi rem quod laborum provident quasi vel omnis placeat assumenda dolores repellat! Quibusdam reiciendis dicta totam est sed facilis voluptates molestias, nisi.
        .tab
          input#tab-3(type='radio', name='tab-group-1')
          label(for='tab-3') Option 3
          .content
            h3 Heading 3
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis repellat recusandae, quisquam fugiat, est consequuntur tempore velit obcaecati numquam voluptate voluptatem dolore quo! Sint optio placeat, repudiandae quasi laboriosam expedita?
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet eius animi accusantium cum, ipsam saepe! Dignissimos atque vel perferendis, sequi laudantium ducimus necessitatibus! Rem voluptates iusto vero veniam praesentium architecto!
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, possimus expedita temporibus ipsam eius illo repellendus voluptatum dolor laudantium obcaecati illum, perspiciatis asperiores nostrum placeat tempore corporis consectetur repellat reprehenderit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam deserunt dolorum, saepe porro facere odit placeat recusandae ex fugit amet ut nesciunt ipsam doloribus ullam voluptas sunt. Quam, minima ab? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti nulla ad beatae obcaecati dolor molestiae distinctio saepe dicta, et blanditiis iste facilis! Explicabo atque odio nostrum, est ex magnam eveniet! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae reprehenderit ipsam quam libero hic tenetur ullam dolores aperiam, recusandae doloremque sapiente? Quaerat perspiciatis itaque porro cupiditate, maxime eum autem tenetur.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, dolore ducimus saepe corporis, a odit autem dolores illum enim, cumque nemo cupiditate voluptate, quod velit ex blanditiis est aliquam beatae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda quos similique, omnis vero ex sequi, quod eligendi harum iure, possimus rerum illo natus facilis est hic repellat porro voluptatibus vitae. Lorem ipsum Incididunt non cillum sit veniam id minim ea exercitation incididunt in amet tempor exercitation reprehenderit nostrud non sit tempor amet Ut nulla ut et sit est enim reprehenderit quis cillum aute aute reprehenderit dolor tempor nulla dolor sit ex consectetur ullamco commodo minim sit ea irure dolore aliquip quis dolor Ut dolor sint anim in voluptate laborum laboris Duis deserunt aliqua in officia occaecat fugiat Duis pariatur dolore minim eu ex ea Ut enim velit eu mollit ullamco est est ut minim proident aliqua ullamco amet quis id veniam eu ut consequat Excepteur cillum cillum eu eiusmod sed anim mollit culpa dolor amet est ex in aliquip irure consequat occaecat dolore in dolore incididunt in eiusmod in cupidatat eiusmod deserunt dolor officia ea ut est nulla deserunt nisi qui sed eiusmod tempor consequat id sint cupidatat.

