textColor = #E80C7A

html, body
  margin 0
  padding 0
  height 100%
  font-size 100%

body
  font-family 'Open Sans', sans-serif
  color #666
  font-size 100%

#container
  position relative
  font-size 0.9rem

.tabs
  position relative
  height 100%
  background #a0a0a0

.tab
  height auto

  label
    padding 1rem 0.5rem
    width 100%
    display block

input[type=radio]
  display none

.content
  background white
  display none
  position absolute
  top 0
  left 20%
  right 0
  padding 0 1.2rem
  height 100%

input[type=radio]:checked
  & ~ label
    background white
    z-index 2
    color textColor

    & ~ .content
      overflow auto
      display inline
      z-index 1

